<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rcsnet.bluetoothmonitor">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/bluetooth_connection_manager_backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ======================================================================== -->
        <!-- Connection Lost activity -->
        <!-- This activity is launched by the MonitorConnection background activity -->
        <!-- when loss of connection is detected. -->
        <!-- ======================================================================== -->
        <activity
            android:name=".ConnectionLostAlarm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="http://bluetoothmonitor.rcsnet.com"
                    android:pathPrefix="/connectionlostalarm"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <!-- ======================================================================== -->
        <!-- Bluetooth Connect activity -->
        <!-- This is the main activity (the first) of the application -->
        <!-- It displays the list of availables bluetooth devices to which -->
        <!-- the user choose to connect to monitor the locality. -->
        <!-- Once a device selected, the background MonitorConnection -->
        <!-- activity is launched. -->
        <!-- ======================================================================== -->
        <activity
            android:name=".BluetoothConnect"
            android:label="@string/title_activity_bluetooth_connect"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothClientServer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bluetooth_client_server"
            android:parentActivityName=".BluetoothConnect"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rcsnet.bluetoothmonitor.BluetoothConnect"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothMonitorSettings"
            android:label="@string/title_activity_bluetooth_monitor_settings"
            android:parentActivityName=".BluetoothConnect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rcsnet.bluetoothmonitor.BluetoothConnect"/>
        </activity>
        <activity
            android:name=".TimeoutTestActivity"
            android:label="@string/title_activity_timeout_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StateMachineTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>