<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rcsnet.bluetoothmonitor">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/bluetooth_connection_manager_backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ======================================================================== -->
        <!-- Connection Lost activity -->
        <!-- This activity is launched by the MonitorConnection background activity -->
        <!-- when loss of connection is detected. -->
        <!-- ======================================================================== -->
        <activity
            android:name="com.rcsnet.bluetoothmonitor.ConnectionLostAlarm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- ======================================================================== -->
        <!-- Bluetooth Connect activity -->
        <!-- This is the main activity (the first) of the application -->
        <!-- It displays the list of availables bluetooth devices to which -->
        <!-- the user choose to connect to monitor the locality. -->
        <!-- Once a device selected, the background MonitorConnection -->
        <!-- activity is launched. -->
        <!-- ======================================================================== -->
        <activity
            android:name="com.rcsnet.bluetoothmonitor.BluetoothConnect"
            android:label="@string/title_activity_bluetooth_connect"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rcsnet.bluetoothmonitor.BluetoothClientServer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bluetooth_client_server"
            android:parentActivityName="com.rcsnet.bluetoothmonitor.BluetoothConnect"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rcsnet.bluetoothmonitor.BluetoothConnect" />

            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="com.rcsnet.bluetoothmonitor.ClientServerDevice" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rcsnet.bluetoothmonitor.BluetoothMonitorSettings"
            android:label="@string/title_activity_bluetooth_monitor_settings"
            android:parentActivityName="com.rcsnet.bluetoothmonitor.BluetoothConnect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rcsnet.bluetoothmonitor.BluetoothConnect" />
        </activity>
    </application>

</manifest>
